/*Global Styles*/

* {
    margin: 0;
    font-family: "Quicksand", serif;
}

/*Header Section*/
header {
    background-color: blue;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500px;
    text-align: center;
    padding: 32px 0;
}

a {
    color: #006DFE;
}

/*Main Section*/
main {
    max-width: 570px;
    margin: auto;

    figure {
        text-align: center;
        padding: 40px 0;
        margin: 0;
    }

    article {

        h1,
        h2,
        h3,
        .post-category {
            font-family: "Spectral", serif;
            font-style: normal;
        }

        .post-category {
            color: #006DFE;
            font-weight: 600;
            font-size: 16px;
        }

        #post-info {
            margin-bottom: 30px;
            color: #C1C1C1;
            font-weight: 600;
        }

        h1 {
            margin: 10px 0 14px 0;
            font-weight: 700;
            font-family: "Spectral", serif;
            font-style: normal;
            font-size: 36px;
            line-height: 120%;
        }

        h2,
        h3 {
            margin-bottom: 10px;
        }

        p,
        ul {
            margin-bottom: 20px;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 150%;
        }

        iframe {
            margin: 30px 0;
        }
    }

    #related-posts {
        margin-bottom: 40px;
        background-color: #F1F1F1;
        padding: 20px;

        h4 {
            font-family: Quicksand;
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 14px;
        }

        ul {
            padding: 0px;
            list-style-type: none;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 20px;
        }
    }
}

footer {
    text-align: center;
    max-width: 856px;
    margin: auto;
    padding: 20px 0;
    border-top: 1px solid #C1C1C1;
    font-family: Quicksand;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    letter-spacing: 0%;
    text-align: center;
}