* {
    font-family: 'Roboto' sans-serif;
}

.container {}


header {
    height: 53px;
    background-color: #212121;
}

header nav {
    display: flex;
    padding: 18px 70px 4px 70px;
    justify-content: space-between;
}

header nav a {
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 87px;
    border-right-style: dashed;
}

h1+.followed{
    color:red;
}