* {
    margin: 0;
    font-family: 'Heboo', sans-serif;
}

.container {
    height: 100%;
    width: 1440px;
    margin: auto;
    max-width: 90%;
}

header {
    height: 70px;
    box-shadow: 0px 1px 6px #000000;

    .container {
        display: flex;
        justify-content: space-between;

        align-items: center;

        section.logo {
            font-size: 27px;

            span.blue-dot {
                background-color: #33C6DD;

                width: 10px;
                height: 10px;

                display: inline-block;
                vertical-align: middle;

                border-radius: 10px;
            }
        }

        nav {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin-right: 26px;

                    a {
                        text-decoration: none;
                        color: #3E3E3E;
                        font-family: 'Arial', sans-serif;
                        font-size: 15px;
                        line-height: 32px;
                    }

                    a:visited {
                        color: #3E3E3E;
                    }

                    a:hover {
                        color: #33C6DD;
                    }
                }

                li:last-of-type {
                    margin-right: 0;
                }

                .menu-icon {
                    display: none;
                }
            }
        }
    }
}

section.hero {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            h1,
            p {
                color: white;
                margin-top: 0;
                margin-bottom: 20px;
                max-width: 495px;
            }

            h1 {
                font-weight: 400;
                font-size: 50px;
                line-height: 56px;
            }

            p {
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
            }

            button {
                width: 200px;
                height: 50px;
                background-color: #33C6DD;
                border: 1px solid #33C6DD;
                border-radius: 25px;
                color: white;

                font-size: 16px;

                cursor: pointer;
            }

            button:hover {
                background-color: white;
                color: #33C6DD;
            }
        }
    }
}

section.best-sellers {
    h2 {
        margin-top: 89px;
        text-align: center;
        font-size: 34px;
        line-height: 42px;
        font-style: normal;
        font-weight: 400;
    }

    .blue-line {
        margin: 0 auto;
        margin-top: 32px;
        width: 66px;
        height: 10px;
        border: none;

        background-color: #33C6DD;
    }

    .best-sellers-slider {
        padding: 80px 0;
        width: 100%;
        height: 100%;

        .container {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;

            article.product-card {
                width: 33%;
                padding: 40px;
                text-align: center;
                border-radius: 8px;
                border: 1px solid #DDDDDD;

                position: relative;

                display: flex;
                flex-direction: column;
                align-items: center;

                margin: auto 8px;

                img {
                    max-width: 100%;
                }

                .item-link {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                    color: #33C6DD;

                    a {
                        text-decoration: none;
                    }

                    a:visited {
                        color: #33C6DD;
                    }
                }

                .product-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin-top: 50px;

                    h3 {
                        font-size: 20px;
                        letter-spacing: 0.5px;
                        line-height: 26px;
                        margin-bottom: 6px;
                        font-weight: normal;
                        margin-top: 0;
                    }

                    .price {
                        display: flex;
                        justify-content: center;
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 30px;
                        color: #000000;

                        opacity: 0.7;
                    }

                    .price-discount,
                    .price-expired {
                        display: inline;
                        margin-left: 5px;
                        color: #9b9b9b
                    }

                    .price-discount {
                        color: red;
                    }

                    button {
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;

                        text-align: center;

                        color: #000000;

                        height: 44px;
                        width: 220px;

                        border: 1px solid #000000;
                        border-radius: 25px;

                        background-color: transparent;

                        cursor: pointer;
                    }
                }
            }

            article.product-card:last-of-type {

                margin-bottom: 0px;
            }

            article.product-card.new::before {
                content: "New";
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: 12px;
                right: 12px;

                width: 81px;
                height: 31px;

                background-color: #614DC9;
                border-radius: 16px;

                font-weight: 700;
                font-size: 14px;
                line-height: 21px;

                color: #ffffff;
            }

            article.product-card:hover {
                cursor: pointer;

                button {
                    color: white;
                    background-color: #33C6DD;
                    border-color: #33C6DD;
                }
            }
        }
    }
}

section.newsletter {
    margin-bottom: 80px;

    .newsletter-area {
        height: 292px;
        width: 955px;
        margin: 0 auto;
        background-color: #C8C8C8;

        text-align: center;

        .container {
            padding: 72px 60px;

            height: 57%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .form {
                display: flex;
                justify-content: center;

                width: 471px;
                height: 49px;

                border: 1px solid gray;

                border-radius: 25px;
                overflow: hidden;

                input {
                    border: none;

                    height: 100%;
                    width: 326px;

                    padding-left: 24px;

                    outline: none;
                }

                input::placeholder {
                    color: #3e3e3e;
                }

                button:hover {
                    background: #5a4bdc;
                }

                button {
                    border: none;

                    background: #6c5ce7;
                    color: #fff;

                    height: 100%;
                    width: 145px;

                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    background-color: #3e3e3e;
    width: 100%;
    height: 100%;

    .footer-menu {
        padding: 60px 0;

        .container {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            width: 950px;
        }

        .footer-column {
            ul {
                align-items: left;
                font-size: 20px;
                color: white;
                margin: 0;
                padding: 0;
                list-style: none;

                list-style-type: none;

                width: 25%;

                li {
                    margin: 9px 0;
                }

                h3 {
                    color: #FFFFFF;
                }

                a {
                    text-decoration: none;
                    color: #E0E0E0;
                }

                a:visited {
                    color: #E0E0E0;
                }

                a:hover {
                    color: #33C6DD;
                }
            }
        }
    }

    .coppy-right-info {
        text-align: center;
        font-size: 16;
        color: white;

        margin: 0 auto;
        padding: 18px 0;
        background-color: #2B2B2B;
    }
}

/*Smaller desktop*/
@media screen and (max-width: 1400px) {
    .container {
        width: 1440px;
        max-width: 90%;
    }

    section.hero {
        .hero-content {
            .container {

                h1,
                p {
                    margin-bottom: 12px;
                }

                h1 {
                    font-size: 44px;
                    line-height: 50px;
                }

                p {
                    font-size: 18px;
                    line-height: 26px;
                }

                button {
                    font-size: 14px;
                }
            }
        }
    }

    section.best-sellers {
        h2 {
            margin-top: 70px;
            line-height: 38px;
        }

        .best-sellers-slider {
            padding: 70px 0;

            .container {
                article.product-card {
                    margin: 0 12px;

                    .item-link {
                        font-weight: 400;
                        font-size: 12px;
                    }

                    .product-info {
                        h3 {
                            white-space: nowrap;

                            font-size: 12px;
                            line-height: 26px;
                        }

                        .price {
                            white-space: nowrap;
                            font-size: 24px;

                            .price-expired {
                                font-size: 14px;
                            }
                        }

                        button {
                            font-size: 14px;
                            line-height: 21px;

                            height: 41px;
                            width: 180px;
                        }
                    }
                }
            }
        }
    }

    section.newsletter {
        margin-bottom: 70px;

        .newsletter-area {
            height: 243px;
            width: 881px;

            .container {
                padding: 50px 20px;

                .form {
                    height: 46px;
                }
            }
        }
    }

    footer {
        .footer-menu {
            padding: 50px 0;

            .footer-column {
                ul {
                    font-size: 16px;

                    li {
                        margin: 12px 0;
                    }
                }
            }
        }

        .coppy-right-info {
            font-size: 14px;
            padding: 14px 0;
        }
    }
}

/*tablet*/
@media screen and (max-width: 960px) {
    .container {
        width: 92%;
        max-width: 92%;
    }

    header .container nav ul li {
        display: none;
    }

    header .container nav ul li.menu-icon {
        display: inline-block;
    }

    header .container nav ul li.menu-icon:hover {
        cursor: pointer;
    }

    section.hero {
        .hero-content {
            .container {

                h1,
                p {
                    margin-bottom: 12px;
                }

                h1 {
                    font-size: 40px;
                    line-height: 46px;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                }

                button {
                    font-size: 14px;
                }
            }
        }
    }

    section.best-sellers {
        h2 {
            margin-top: 70px;
            line-height: 38px;
        }

        .best-sellers-slider {
            padding: 44px 0;

            .container {
                article.product-card.new::before {
                    top: 8px;
                    right: 8px;
                    font-size: 11px;
                    padding: 0.5px 6px;

                    width: 49px;
                    height: 20px;
                }

                article.product-card {
                    .item-link {
                        font-weight: 400;
                        font-size: 11px;
                    }

                    .product-info {
                        h3 {
                            font-size: 13px;
                            line-height: 18px;
                        }

                        .price {
                            font-size: 16px;

                            .price-expired {
                                font-size: 9px;
                            }
                        }

                        button {
                            font-size: 12px;
                            line-height: 18px;

                            height: 36px;
                            width: 146px;
                        }
                    }
                }
            }
        }
    }

    section.newsletter {
        margin-bottom: 48px;

        .newsletter-area {
            height: 243px;
            width: 768px;

            .container {
                padding: 50px 7px;

                .form {
                    height: 46px;
                }
            }
        }
    }

    footer {
        .footer-menu {
            padding: 48px 0;

            .footer-column {
                ul {
                    font-size: 14px;

                    li {
                        margin: 10px 0;
                    }
                }
            }
        }

        .coppy-right-info {
            font-size: 14px;
            padding: 14px 0;
        }
    }
}

/*mobile*/
@media screen and (max-width: 576px) {
    .container {
        width: 92%;
        max-width: 92%;
    }

    header .container nav ul li {
        display: none;
    }

    header .container nav ul li.menu-icon {
        display: inline-block;
    }

    header .container nav ul li.menu-icon:hover {
        cursor: pointer;
    }

    section.hero {
        .hero-content {
            position: initial;
            text-align: center;

            .container {
                display: initial;
                text-align: center;

                h1,
                p {
                    margin-bottom: 32px;
                }

                h1 {
                    font-size: 32px;
                    line-height: 38px;
                    color: black;
                }

                p {
                    display: none;
                }
            }
        }
    }

    section.best-sellers {
        h1 {
            margin-top: 26px;
            margin-bottom: 32px;
            max-width: 495px;
            font-weight: 400;
            font-size: 50px;
            line-height: 56px;
            text-align: center;
        }

        button {
            display: block;
            width: 200px;
            height: 50px;
            background-color: #33C6DD;
            border: 1px solid #33C6DD;
            border-radius: 25px;
            color: white;

            font-size: 14px;

            cursor: pointer;

            margin: 0 auto;
        }

        h2 {
            margin-top: 70px;
            line-height: 38px;
        }

        .best-sellers-slider {
            padding: 44px 0;

            .container {
                flex-wrap: wrap;
                align-items: center;

                article.product-card.new::before {
                    top: 8px;
                    right: 8px;
                    font-size: 11px;
                    padding: 0.5px 6px;

                    width: 49px;
                    height: 20px;
                }

                article.product-card {
                    margin-bottom: 34px;

                    .item-link {
                        font-weight: 400;
                        font-size: 11px;
                    }

                    .product-info {
                        h3 {
                            font-size: 13px;
                            line-height: 18px;
                        }

                        .price {
                            flex-direction: column;
                            justify-content: space-around;
                            font-size: 20px;

                            .price-expired {
                                font-size: 11px;
                            }
                        }

                        button {
                            font-size: 12px;
                            line-height: 18px;

                            height: 36px;
                            width: 146px;
                        }
                    }
                }

                article.product-card:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    section.newsletter {
        margin-bottom: 48px;

        .newsletter-area {
            width: 375px;
            height: 243px;

            .container {
                padding: 44px 7px;

                .form {
                    width: 310px;
                    height: 49px;

                    input {
                        border: none;

                        height: 100%;
                        width: 209px;

                        font-size: 12px;

                        padding-left: 24px;

                        outline: none;
                    }

                    input::placeholder {
                        color: #3e3e3e;
                    }

                    button:hover {
                        background: #5a4bdc;
                    }

                    button {
                        border: none;

                        background: #6c5ce7;
                        color: #fff;

                        height: 100%;
                        width: 81px;

                        font-size: 12px;

                        cursor: pointer;
                    }
                }
            }
        }
    }

    footer {
        .footer-menu {
            padding: 48px 0;

            .container {
                flex-direction: column;
                align-items: center;

                .footer-column {
                    margin-bottom: 32px;

                    ul {
                        width: 100%;
                        text-align: center;

                        li {
                            margin: 12px 0;
                        }
                    }
                }

                .footer-column:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }

        .coppy-right-info {
            font-size: 14px;
            padding: 14px 0;
        }
    }
}